<div class="center jumbotron">

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="newspost_form">
        <%= render 'shared/newspost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <h1>Welcome to the News Bulletin Portal</h1>

  <h2>

  </h2>
  	<% if !logged_in? %>
 		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %><br />
 		Already User ? <%= link_to " Log in", login_path%>
 	<%end%>
</div>
<% end %>



