<footer class="footer">
  <small>
    The <a href="https://warm-scrubland-2636.herokuapp.com/">Employee News Bulletin Portal</a>
    by <a href="https://twitter.com/bharose_">RB</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://www.healthi.in/about', :target => "_blank"%></li>
      <li><%= link_to "Contact", 'https://www.healthi.in/contactus', :target => "_blank" %></li>
    
    </ul>
  </nav>
</footer>